<!doctype html>
<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1' />

    <title><%= store.app.title %></title>
    <meta name='description' content='<%= store.app.description %>'>

    <link rel='canonical' href='<%= config.httpOrigin %><%= url %>' />

    <link rel='preload' href='/bundle.js?c=<%- scriptHash %>' as='script' />
    <link rel='stylesheet' href='/bundle.css?c=<%- styleHash %>' />

    <link rel='apple-touch-icon' href='/apple-touch-icon.png' />
    <link rel='icon' type='image/png' sizes='32x32' href='/favicon-32x32.png' />
    <link rel='icon' type='image/png' sizes='16x16' href='/favicon-16x16.png' />
    <link rel='manifest' href='/manifest.json' />
    <link rel='mask-icon' href='/safari-pinned-tab.svg' color='#ff41b4' />
    <meta name='apple-mobile-web-app-title' content='<%= config.title %>' />
    <meta name='application-name' content='<%= config.title %>' />
    <meta name='theme-color' content='#ff41b4' />
    <meta name='apple-mobile-web-app-capable' content='yes' />

    <link rel='search' href='/opensearch.xml' type='application/opensearchdescription+xml' title='<%= config.title %>'>
    <link rel='alternate' href='/feed.json' type='application/json' title='<%= config.title %>' />
    <link rel='alternate' href='/feed.xml' type='application/atom+xml' title='<%= config.title %>' />
  </head>

  <body class='sans-serif f5 fw3 ma0 pa0 overflow-y-scroll bg-black-025'>
    <%- content %>

    <script nonce='<%= nonce %>'>
      console.time('render')
      window.storeInit =
        <%- typeof store !== 'undefined'
          ? JSON.stringify(store).replace(/<\//ig, '<\\/') // Prevent XSS
          : '{}'
        %>
    </script>
    <script nonce='<%= nonce %>'>
      window.GoogleAnalyticsObject = 'ga'
      window.ga = window.ga || function () {
        (window.ga.q = window.ga.q || []).push(arguments)
      }
      window.ga.l = Date.now()
      window.ga('create', 'UA-3898076-23', 'auto')
    </script>
    <script async src='/bundle.js?c=<%- scriptHash %>'></script>
    <script async src='https://www.google-analytics.com/analytics.js'></script>
  </body>
</html>
