<?xml version='1.0' encoding='utf-8'?>
<feed xmlns='http://www.w3.org/2005/Atom' xml:lang='en-US'>
  <id><%= config.httpOrigin %>/</id>
  <title type='text'><%= config.title %></title>
  <subtitle type='text'><%= config.description %></subtitle>
  <icon><%= config.httpOrigin %>/favicon.ico</icon>
  <logo><%= config.httpOrigin %>/android-chrome-512x512.png</logo>

  <% for (let i = 0; i < config.keywords.length; i++) { %>
    <% let keyword = config.keywords[i] %>
    <category term='<%= keyword %>' />
  <% } %>

  <updated></updated>

  <link rel='alternate' type='text/html' href='<%= config.httpOrigin %>/' />
  <link rel='self' type='application/atom+xml' href='<%= config.httpOrigin %>/feed.xml' />

  <author>
    <name><%= config.title %></name>
    <uri><%= config.httpOrigin %>/</uri>
  </author>

  <% for (let i = 0; i < snippets.length; i++) { %>
    <% let snippet = snippets[i] %>
    <entry>
      <id><%= snippet.url %></id>
      <title><%= snippet.name %></title>
      <updated></updated>

      <link rel='alternate' type='text/html' href='<%= snippet.url %>' />

      <author>
        <name>@<%= snippet.author %></name>
        <uri><%= snippet.author_url %></uri>
      </author>

      <summary type='text'><%= snippet.name %></summary>
      <content type='html'><%= snippet.html %></content>
    </entry>
  <% } %>

</feed>
