<!doctype html>
<html lang='en'>
  <head>
    <title><%= typeof title !== 'undefined' ? title : config.name %></title>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1' />

    <link rel='stylesheet' href='/tachyons/tachyons.min.css' charset='utf-8' />
    <link rel='stylesheet' href='/highlight.js/monokai-sublime.css' charset='utf-8' />
    <link rel='stylesheet' href='/codemirror/codemirror.css' />
    <link rel='stylesheet' href='/codemirror/monokai.css' />
    <link rel='stylesheet' href='/style.css<%- hashes.style %>' charset='utf-8' />

    <link rel='preload' href='/bundle.js<%- hashes.bundle %>' as='script' />

    <meta name='apple-mobile-web-app-capable' content='yes' />
    <!-- <link rel='search' href='/opensearch.xml' title='<%= config.name %>' type='application/opensearchdescription+xml'> -->
  </head>

  <body class='sans-serif f5 fw3 ma0 pa0 overflow-y-scroll bg-black-025'>
    <%- typeof content !== 'undefined' ? content : '' %>

    <script>
      console.time('render')
      console.time('load')
      window.storeInit =
        <%- typeof store !== 'undefined'
          ? JSON.stringify(store).replace(/<\//ig, '<\\/') // Prevent XSS
          : '{}'
        %>
    </script>
    <script>
      window.GoogleAnalyticsObject = 'ga'
      window.ga = window.ga || function () {
        (window.ga.q = window.ga.q || []).push(arguments)
      }
      window.ga.l = Date.now()
      window.ga('create', 'UA-3898076-23', 'auto')
    </script>

    <script async src='/bundle.js<%- hashes.bundle %>'></script>
    <script async src='https://www.google-analytics.com/analytics.js'></script>
  </body>
</html>
