<!doctype html>
<html lang='en'>
  <head>
    <title><%= typeof title !== 'undefined' ? title : config.name %></title>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1' />

    <!-- <link rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons'> -->

    <link rel='stylesheet' href='/tachyons.min.css' charset='utf-8' />
    <link rel='stylesheet' href='/monokai-sublime.css' charset='utf-8' />
    <link rel='stylesheet' href='/style.css<%- hashes.style %>' charset='utf-8' />

    <!-- <link rel='apple-touch-icon' sizes='180x180' href='/apple-touch-icon.png'> -->
    <!-- <link rel='icon' type='image/png' sizes='32x32' href='/favicon-32x32.png'> -->
    <!-- <link rel='icon' type='image/png' sizes='16x16' href='/favicon-16x16.png'> -->
    <!-- <link rel='manifest' href='/manifest.json'> -->
    <!-- <link rel='mask-icon' href='/safari-pinned-tab.svg' color='#ff4136'> -->
    <!-- <meta name='theme-color' content='#ffffff'> -->
    <!-- <meta name='apple-mobile-web-app-capable' content='yes'> -->
    <!-- <meta name='apple-mobile-web-app-status-bar-style' content='black-translucent'> -->

    <!-- <link rel='search' href='/opensearch.xml' title='<%= config.name %>' type='application/opensearchdescription+xml'> -->
  </head>

  <body class='body-font lh-copy f5 fw3 ma0 pa0 overflow-y-scroll'>
    <%- typeof content !== 'undefined' ? content : '' %>
    <script>
      console.time('render')
      console.time('load')
      // TODO: prevent redundant API calls on first page load
      window.storeInit = <%- typeof store !== 'undefined' ? JSON.stringify(store) : '{}' %>
    </script>
    <script>
      /* global ga */
      window.ga = window.ga || function () {
        (ga.q = ga.q || []).push(arguments)
      }
      ga.l = Date.now()
      // TODO
      // ga('create', '', 'auto')
    </script>
    <script async src='https://www.google-analytics.com/analytics.js'></script>
    <script src='/bundle.js<%- hashes.bundle %>'></script>
  </body>
</html>
