<!doctype html>
<html lang='en' class='no-js'>
  <head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1, viewport-fit=cover' />

    <title><%= store.app.title %></title>
    <meta name='description' content='<%= store.app.description %>'>
    <link rel='canonical' href='<%= config.origin %><%= store.location.canonicalUrl %>' />

    <link rel='preload' as='script' href='/bundle.js?c=<%= scriptHash %>' nonce='<%= nonce %>' />

    <link rel='apple-touch-icon' sizes='180x180' href='/apple-touch-icon.png' />
    <link rel='icon' type='image/png' sizes='32x32' href='/favicon-32x32.png' />
    <link rel='icon' type='image/png' sizes='16x16' href='/favicon-16x16.png' />
    <link rel='manifest' href='/manifest.webmanifest' />
    <link rel='mask-icon' href='/safari-pinned-tab.svg' color='<%= config.theme.headerColorHex %>' />
    <meta name='apple-mobile-web-app-title' content='<%= config.siteName %>' />
    <meta name='application-name' content='<%= config.siteName %>' />
    <meta name='theme-color' content='<%= config.theme.headerColorHex %>' />
    <meta name='apple-mobile-web-app-capable' content='yes' />

    <meta property='og:title' content='<%= store.app.title %>'>
    <meta property='og:description' content='<%= store.app.description %>'>
    <meta property='og:url' content='<%= config.origin %><%= store.location.canonicalUrl %>'>
    <meta property='og:image' content='<%= config.origin %><%= store.app.image %>'>
    <meta property='og:site_name' content='<%= config.siteName %>'>
    <meta property='og:type' content='website'>
    <meta name='twitter:site' content='@<%= config.siteTwitter %>'>
    <meta name='twitter:card' content='summary_large_image'>

    <link rel='search' href='/opensearch.xml' type='application/opensearchdescription+xml' title='<%= config.siteName %>'>
    <link rel='alternate' href='/feed.json' type='application/json' title='<%= config.siteName %>' />
    <link rel='alternate' href='/feed.xml' type='application/atom+xml' title='<%= config.siteName %>' />

    <script nonce='<%= nonce %>'>document.documentElement.classList.remove('no-js')</script>

    <%_ if (config.isProd) { _%>
      <style><%- style %></style>
    <%_ } else { _%>
      <link rel='stylesheet' href='/bundle.css?c=dev' />
    <%_ } _%>
  </head>

  <body class='sans-serif f5 fw3 ma0 pa0 overflow-y-scroll bg-black-025'>
    <%- content %>

    <script nonce='<%= nonce %>'>
      console.time('render')
      window.initStore =
        <%- typeof store !== 'undefined'
          ? JSON.stringify(store).replace(/<\//ig, '<\\/') // Prevent XSS
          : '{}'
        %>
    </script>
    <script nonce='<%= nonce %>'>
      window.GoogleAnalyticsObject = 'ga'
      function ga () { window.ga.q.push(arguments) }
      window.ga.q = window.ga.q || []
      window.ga.l = Date.now()
      window.ga('create', '<%= config.analyticsId %>', 'auto')
      window.ga('send', 'pageview')
    </script>
    <script async src='/bundle.js?c=<%= scriptHash %>' nonce='<%= nonce %>'></script>
    <script async src='https://www.google-analytics.com/analytics.js' nonce='<%= nonce %>'></script>
  </body>
</html>
